# Assignment: Data Wrangling

! git clone https://github.com/DS3001/wrangling

# Do Q2, and one of Q1 or Q3.

In [1]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (34/34), done.
remote: Compressing objects: 100% (24/24), done.
remote: Total 75 (delta 27), reused 10 (delta 10), pack-reused 41
Receiving objects: 100% (75/75), 6.25 MiB | 19.40 MiB/s, done.
Resolving deltas: 100% (33/33), done.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

1. This paper focuses on how to make data cleaning effective through data tidying. Data tidying is done with tidy datasets, which are datasets with each variable being a column, each observation a row, and each type of observational unit a table. The structure of tidy datasets allows them to easily fix messy datasets, manipulate and visualize the data, and develop tools for analysis.

2. The tidy data standard is meant to help structure datasets to facilitate analysis. organise data values within a dataset. The standard makes data cleaning more effective because there is a structure to cleaning that doesn't have to be redone every time. It facilitates exploring and analyzing and developing tools for data cleaning.

3. The first sentence means that tidy datasets are all standardized in the same way, so it's easy to understand even without knowing the depth of the data. Messy data can be messy in many different ways and will all be different. The second sentence is in reference to the fact that variables and observations can change depending on who is using the values and what meaning people are looking to derive.

4. Values belong to a variable and observation. A variable has all of the values that are measuring the same attribute, while an observation contains all of the values that are measured with the same unit. Values are collected into a dataset.

5. Tidy data is a standard for mapping a dataset using the following structure:  each variable makes a column, each observation makes a row, each type of observation unit makes a new table.

6. The five most common messy data mistakes are:
- The column headers are values instead of variable names
- multiple variables are stored in one column
- the variables are stored in rows and columns
- multiple observational units are stored in the same table
-a single observational unit is in multiple tables

Table 4 is messy because the column headers are values instead of names and because variables are in the rows and columns. Melting a dataset means to stack it, or put columns into rows.

7. Table 11 is messy because there are variables in the rows and columns. Table 12 has one variable for each column and each row is a one day observation.

8. The chicken and egg problem is that if tidy data can only be used with the tools created for it, then the tools will only ever be used for tidy data. Therefore, changing data structure and tools won't ever improve the workflow. Wickham hopes in the future that methodologies from other fields can improve understanding of cognitive data analysis and improve the design of appropriate data tools.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [17]:
import pandas as pd
import numpy as np

url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df = pd.read_csv(url,low_memory=False)

airb = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv',low_memory=False)

dfshark = pd.read_csv('./wrangling/data/sharks.csv',low_memory=False)

In [22]:
print(airb.head())
print(airb["Price"].unique())
print(airb["Price"].value_counts())

    Host Id Host Since                                Name Neighbourhood   \
0   5162530        NaN     1 Bedroom in Prime Williamsburg       Brooklyn
1  33134899        NaN     Sunny, Private room in Bushwick       Brooklyn
2  39608626        NaN                Sunny Room in Harlem      Manhattan
3       500  6/26/2008  Gorgeous 1 BR with Private Balcony      Manhattan
4       500  6/26/2008            Trendy Times Square Loft      Manhattan

  Property Type  Review Scores Rating (bin)        Room Type  Zipcode  Beds  \
0     Apartment                         NaN  Entire home/apt  11249.0   1.0
1     Apartment                         NaN     Private room  11206.0   1.0
2     Apartment                         NaN     Private room  10032.0   1.0
3     Apartment                         NaN  Entire home/apt  10024.0   3.0
4     Apartment                        95.0     Private room  10036.0   3.0

   Number of Records  Number Of Reviews Price  Review Scores Rating  \
0                  1                  0   145                   NaN
1                  1                  1    37                   NaN
2                  1                  1    28                   NaN
3                  1                  0   199                   NaN
4                  1                 39   549                  96.0

   Clean_Price
0          145
1           37
2           28
3          199
4          549
['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1,990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1,000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1,200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5,000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3,000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1,500' '83' '96' '1,800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1,300' '440' '599' '357' '1,239' '495'
 '127' '5,999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2,750' '4,750' '432' '675' '167' '390' '298' '339' '194' '302'
 '211' '595' '191' '53' '361' '480' '8,000' '4,500' '459' '997' '345'
 '216' '218' '111' '735' '276' '91' '490' '850' '398' '36' '775' '267'
 '625' '336' '2,500' '176' '725' '3,750' '469' '106' '460' '287' '575'
 '227' '263' '25' '228' '208' '177' '880' '148' '116' '685' '470' '217'
 '164' '61' '645' '699' '405' '252' '319' '268' '419' '343' '525' '311'
 '840' '154' '294' '950' '409' '184' '257' '204' '241' '2,000' '412' '121'
 '288' '196' '900' '647' '524' '1,750' '309' '510' '1,495' '1,700' '799'
 '383' '372' '492' '327' '1,999' '656' '224' '173' '875' '1,170' '795'
 '690' '146' '465' '1,100' '151' '274' '429' '825' '282' '256' '1,111'
 '620' '271' '161' '51' '855' '579' '1,174' '430' '20' '899' '649' '485'
 '181' '455' '4,000' '243' '342' '590' '560' '374' '437' '232' '359' '985'
 '31' '244' '254' '723' '237' '428' '370' '34' '1,400' '580' '2,520' '221'
 '749' '1,600' '2,695' '306' '202' '680' '570' '520' '223' '2,295' '213'
 '1,065' '346' '24' '286' '296' '266' '26' '995' '1,368' '393' '182' '635'
 '258' '780' '589' '347' '1,250' '1,350' '446' '3,200' '1,050' '1,650'
 '1,550' '975' '323' '6,500' '2,499' '1,850' '2,250' '715' '461' '540'
 '356' '439' '384' '569' '1,900' '22' '785' '626' '830' '318' '444' '321'
 '401' '1,499' '888' '369' '770' '386' '366' '344' '630' '313' '597' '262'
 '509' '10,000' '278' '312' '789' '1,195' '422' '21' '765' '3,500' '945'
 '326' '3,100' '2,486' '3,390' '1,356' '2,599' '472' '454' '328' '396'
 '291']
150      1481
100      1207
200      1059
125       889
75        873
         ...
840         1
306         1
2,695       1
2,520       1
291         1
Name: Price, Length: 511, dtype: int64

In [28]:
#creating a new variable to work on
airb['Clean_Price'] = airb['Price']
#get rid of commas to make the variable uniform
airb['Clean_Price'] = airb['Clean_Price'].str.replace(',', '')
#convert to numeric so calculations can be done
airb['Clean_Price'] = pd.to_numeric(airb['Clean_Price'], errors='coerce')
print(airb["Clean_Price"].unique())
print(airb["Clean_Price"].value_counts())
#retained all 511 values

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]
150     1481
100     1207
200     1059
125      889
75       873
        ...
840        1
306        1
2695       1
2520       1
291        1
Name: Clean_Price, Length: 511, dtype: int64

In [27]:
print(dfshark['Type'].value_counts())

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [34]:
#create new variable to work with
dfshark['Type_Clean'] = dfshark['Type']
#combine boat, boating, and boatomg under one observation because they all seem to be the same
Typedict = {'Boat':'boating', 'Boating':'boating', 'Boatomg':'boating'}
dfshark['Type_Clean'] = dfshark['Type_Clean'].replace(Typedict)
#combine questionable, unconfirmed, unverified because they are all questionable reports
Typedict2 = {'Questionable':'questionable','Unconfirmed':'questionable','Unverified':'questionable'}
dfshark['Type_Clean'] = dfshark['Type_Clean'].replace(Typedict2)

In [36]:
print(dfshark['Type_Clean'].value_counts())

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
boating                 202
Watercraft              142
questionable             12
Under investigation       1
Name: Type_Clean, dtype: int64

In [37]:
df['WhetherDefendantWasReleasedPretrial'].value_counts()

1    19154
0     3801
9       31
Name: WhetherDefendantWasReleasedPretrial, dtype: int64

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

1.
2.
3.
4.
5.
6.